<form (ngSubmit)="login()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="name" id="email" [(ngModel)]="email" placeholder="E-mail"
    required
    >
  </div>
  <div class="form-group">
    <label for="password">Password</label>
 <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password"
 placeholder="Password" required
 >
  </div>
  <button type="submit" class="btn btn-primary"
  [disabled]="!email || !password || password.length < 6">Sign In</button>
  <p class="center" *ngIf="invalidForm">the E-mail or password is not correct.</p>
 </form>
 