.d-flex {
 font-size: 25px;
 color: white;
 background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

a {
 font-weight: 500;
 text-decoration: none;
 color: white;
}