

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="usr">I wish to visit:</label>
        <input type="text" class="form-control" id="city" placeholder="Enter a City">
        <button type="button" class="btn btn-primary" id="search">Search</button>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3> 
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>
