.main {
/* background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
background-image: https://media.giphy.com/media/fniVO5yA3ddAq6A19V/giphy.gif; */
}

/* form {
 width: 800px;
 margin-left: 40px;
} */