<div class="container">
 <div class="card ">
  <h3 class="card-header">Country: {{terms.location.country}}</h3>
  <div class="card-body">
    
    
    <h4 class="align-center"> {{terms.location.name}}  </h4>
    
    <h3 class="temp"> {{terms.current.temp_c}}°c</h3>
    <span class="text">   {{terms.current.condition.text}} </span><br>
    <img class="icon" [src]="terms.current.condition.icon" alt="Card image cap">
   
  
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <section id="sources col-md-8">
      <div class="card news" *ngFor="let source of sources">
           
            <div class="card-body d-flex">
              <h5 class="card-title pr-5 text-wrap">{{source.title}}</h5><a href="{{source.url}}"   target="blank"><i class="fab fa-readme"></i></a>
           </div>
          </div>       
      
    </section>
    <section class="wiki col-md-4">
        <div class="card">

           
            

        </div>
    </section>
  </div>



